* {
  scroll-behavior: smooth;
  
}

body::-webkit-scrollbar{
  display: none;
}

/* General Styles for the tribute page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Main container */
  #main {
    width: 80%;
    margin: 5vh auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #main p{
    font-size: small;
  }
  
  /* Title styling */
  #title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #title h1 {
    font-size: 2.5em;
    color: #333;
  }
  
  /* Image container and styling */
  #img-div {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #image {
    display: block;      /* Ensures the image is treated as a block element */
    max-width: 100%;     /* Ensures the image does not exceed its parent */
    height: auto;        /* Maintains the aspect ratio */
    margin: 0 auto;      /* Centers the image within the parent container */
  }
  
  /* Image caption */
  #img-caption {
    margin-top: 10px;
    font-style: italic;
    color: #555;
    text-align: center;  /* Centers the caption text */
  }
  
  /* Tribute information */
  #tribute-info {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Tribute link styling */
  #tribute-link {
    font-size: 1.2em;
    color: #008080;
    text-decoration: none;
  }
  
  #tribute-link:hover {
    color:black
  }
  